*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }

  body{
    background-color: #A9A9A9;
  }
  .navbar{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f9c411;
  }
  #navbarNav{
    display:flex;
    align-items: flex-end;
  }